<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="MonoAndroid60" />
  <package id="Acr.UserDialogs" version="6.0.1" targetFramework="MonoAndroid60" />
  <package id="AndHUD" version="1.2.0" targetFramework="MonoAndroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="MonoAndroid60" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="MonoAndroid60" />
  <package id="Plugin.Share" version="4.0.3" targetFramework="monoandroid60" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="monoandroid70" />
  <package id="Splat" version="1.6.2" targetFramework="MonoAndroid60" />
  <package id="sqlite-net-pcl" version="1.1.2" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL.bundle_green" version="0.9.2" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL.plugin.sqlite3.android" version="0.9.2" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL.raw" version="0.9.2" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.Notifier" version="2.0.2" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.CustomTabs" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Controls.SignaturePad" version="1.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="monoandroid70" />
  <package id="ZXing.Net.Mobile" version="2.0.4.46" targetFramework="MonoAndroid60" />
</packages>